DB_URL=TU_URL_DE_MONGO
JWT_SECRET=TU_CLAVE_SECRETA
PORT=3000
FRONTEND_URL=https://clases-a-tu-ritmo.vercel.app
CLOUDINARY_CLOUD_NAME=TU_CLOUD_NAME
CLOUDINARY_API_KEY=TU_API_KEY
CLOUDINARY_API_SECRET=TU_API_SECRET
